/**
 * CSS will be applied to all KnowPulse Searches.
 */

/* - Ensure all select boxes are the same length. */
#chado-custom-search-form .form-item select {
  width: 300px;
}

/* - Make the filter element help italicized. */
#chado-custom-search-form .form-item .description {
  font-style: italic;
}

/**
 * Genetic Marker Search.
 */
.seq-range-element .form-type-textfield label {
  display: none;
}
.seq-range-element .form-type-textfield .description {
  display: none;
}
.seq-range-element .form-item {
  display: inline-block;
  margin-bottom: 2px;
}
.seq-range-element input {
  width: 100px;
}
.seq-range-element input#edit-start-backbone {
  width: 200px;
}
